PORT=4000

# Logging Configuration
LOG_LEVEL=INFO
LOG_TO_FILE=true
LOG_DIRECTORY=./logs
LOG_MAX_FILE_SIZE_KB=1024

# Database Configuration
DB_PORT=5432
DB_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=home_library

CRYPT_SALT=10
JWT_SECRET_KEY=secret123123
JWT_SECRET_REFRESH_KEY=secret123123
TOKEN_EXPIRE_TIME=1h
TOKEN_REFRESH_EXPIRE_TIME=24h
